# Yarn without zero-installs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules

#Project
libs/assets/images

# Firebase
firebase-debug.log

# IntelliJ
.idea
